<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132673922233-pgaj0h81oeibuo58ac44p6j18tmvdhf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132673922233-pgaj0h81oeibuo58ac44p6j18tmvdhf4</string>
	<key>API_KEY</key>
	<string>AIzaSyBzA1EmUWUvWE-JPdeqPTr_PoI7qSYzOVk</string>
	<key>GCM_SENDER_ID</key>
	<string>132673922233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.houseHub</string>
	<key>PROJECT_ID</key>
	<string>house-hub-91918</string>
	<key>STORAGE_BUCKET</key>
	<string>house-hub-91918.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132673922233:ios:c99af7106225c2dfd7a768</string>
</dict>
</plist>